Samples/PushRecipe_WP7_SL/Source/WindowsPhone.Recipes.Push.Client/Service References/Services/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PushService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WindowsPhone.Recipes.Push.Server.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPushService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IPushService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IPushService_GetServerInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerInfo" />
  </wsdl:message>
  <wsdl:message name="IPushService_GetServerInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IPushService_UpdateTile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTile" />
  </wsdl:message>
  <wsdl:message name="IPushService_UpdateTile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTileResponse" />
  </wsdl:message>
  <wsdl:portType name="IPushService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushService/Register" message="tns:IPushService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushService/RegisterResponse" message="tns:IPushService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushService/GetServerInfo" message="tns:IPushService_GetServerInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushService/GetServerInfoResponse" message="tns:IPushService_GetServerInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushService/UpdateTile" message="tns:IPushService_UpdateTile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushService/UpdateTileResponse" message="tns:IPushService_UpdateTile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPushService" type="tns:IPushService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IPushService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerInfo">
      <soap:operation soapAction="http://tempuri.org/IPushService/GetServerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTile">
      <soap:operation soapAction="http://tempuri.org/IPushService/UpdateTile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PushService">
    <wsdl:port name="BasicHttpBinding_IPushService" binding="tns:BasicHttpBinding_IPushService">
      <soap:address location="http://localhost:8000/PushService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>