Samples/PushRecipe_WP7_SL/Source/WindowsPhone.Recipes.Push.Client/Service References/Services/WindowsPhone.Recipes.Push.Server.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WindowsPhone.Recipes.Push.Server.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WindowsPhone.Recipes.Push.Server.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Counter" type="xs:int" />
      <xs:element minOccurs="0" name="PushPattern" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerInfo" nillable="true" type="tns:ServerInfo" />
</xs:schema>