Samples/TicTacToe_4_0/TicTacToeClient/TicTacToeGame/TicTacToeGame/Service References/GameService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TicTacToeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITicTacToeService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ITicTacToeService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ITicTacToeService_Unregister_InputMessage">
    <wsdl:part name="parameters" element="tns:Unregister" />
  </wsdl:message>
  <wsdl:message name="ITicTacToeService_Unregister_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnregisterResponse" />
  </wsdl:message>
  <wsdl:message name="ITicTacToeService_GameStep_InputMessage">
    <wsdl:part name="parameters" element="tns:GameStep" />
  </wsdl:message>
  <wsdl:message name="ITicTacToeService_GameStep_OutputMessage">
    <wsdl:part name="parameters" element="tns:GameStepResponse" />
  </wsdl:message>
  <wsdl:message name="ITicTacToeService_GetGameState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameState" />
  </wsdl:message>
  <wsdl:message name="ITicTacToeService_GetGameState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameStateResponse" />
  </wsdl:message>
  <wsdl:message name="ITicTacToeService_RestartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:RestartGame" />
  </wsdl:message>
  <wsdl:message name="ITicTacToeService_RestartGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestartGameResponse" />
  </wsdl:message>
  <wsdl:portType name="ITicTacToeService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicTacToeService/Register" message="tns:ITicTacToeService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicTacToeService/RegisterResponse" message="tns:ITicTacToeService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unregister">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicTacToeService/Unregister" message="tns:ITicTacToeService_Unregister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicTacToeService/UnregisterResponse" message="tns:ITicTacToeService_Unregister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GameStep">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicTacToeService/GameStep" message="tns:ITicTacToeService_GameStep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicTacToeService/GameStepResponse" message="tns:ITicTacToeService_GameStep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameState">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicTacToeService/GetGameState" message="tns:ITicTacToeService_GetGameState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicTacToeService/GetGameStateResponse" message="tns:ITicTacToeService_GetGameState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RestartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicTacToeService/RestartGame" message="tns:ITicTacToeService_RestartGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicTacToeService/RestartGameResponse" message="tns:ITicTacToeService_RestartGame_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITicTacToeService" type="tns:ITicTacToeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/ITicTacToeService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unregister">
      <soap:operation soapAction="http://tempuri.org/ITicTacToeService/Unregister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameStep">
      <soap:operation soapAction="http://tempuri.org/ITicTacToeService/GameStep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameState">
      <soap:operation soapAction="http://tempuri.org/ITicTacToeService/GetGameState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestartGame">
      <soap:operation soapAction="http://tempuri.org/ITicTacToeService/RestartGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TicTacToeService">
    <wsdl:port name="BasicHttpBinding_ITicTacToeService" binding="tns:BasicHttpBinding_ITicTacToeService">
      <soap:address location="http://192.168.2.104/GamesServer/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>